body{
    background-image:linear-gradient(whitesmoke, white, wheat, white, whitesmoke);
    color: rgb(109, 85, 54);
}


.con{
    background-color: wheat;
    margin-right: 300px;
    margin-left: 300px;
    padding: 40px;
    padding-top: 3px;
    border: 20px whitesmoke double;
    border-radius: 120px;
}


.hl{
    border: whitesmoke double 8px;
    border-radius: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    font-size: 35px
}